<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Show</title>
<link href="https://www.layuicdn.com/layui/css/layui.css"
	rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						展示区 <small>表格</small>
					</h1>
				</div>
				<div class="row clearfix" style="width: 600px;">
					<div id="showResult">
						<table id="display_result" class="table">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
